<template name="addform">
	<div id="example" class="modal">
	<div class="modal-header">
	<a class="close" data-dismiss="modal">×</a>
	<h3>Add A Snippet</h3>
	</div>
	<div class="modal-body">
		<label for="url">Url</label>
		<input class="url input-xlarge" type="text" name="url" value="" id="url">
		<label for="name">Name</label><input class="name" type="text" name="name" value="" id="name">
		
		<label for="description">Description</label>
		<textarea class="description input-xlarge" name="description" rows="6"></textarea>
	</div>
	<div class="modal-footer">
	<a href="#" class="btn btn-success save">Save</a>
	<a href="#" class="btn cancel" data-dismiss="modal">Cancel</a>
	</div>
</template>